{% extends 'base.html.twig' %}

{% block title %}Nouvel artsit{% endblock %}

{% block body %} 
    <h1>Nouvel artist</h1>
    <div class="form-control container">

        {{form(form) }}

    </div>

    {# <a href="{{path('app_authors')}}">Back</a> #}

{% endblock %}

